*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: white;
    --grey: #7d7f84;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/* common */
.dflex{
    display: flex;
}

.white{
    color: var(--white);
}

.grey{
    color: var(--grey);
}

a{
    text-decoration: none;
}


.wrap{
    flex-wrap: wrap;
}

.overflow{
    overflow-y: scroll;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

ul li{
    list-style: none;
}

.text-center{
    text-align: center;
}

.block{
    display: block;
}

.border50{
    border-radius: 50%;
}
/* css */

main{
    background-color: #141922;
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

.sidebar{
    width: 50px;
    background-color: black;
    min-height: 400px;
}

.logo{
    display: flex;
    align-items: center;
}

.biglogo{
    display: none;
}

.small-logo{
    width: 100%;
    padding: 5px 7px;
}

.sidebar span{
    display: none;
}


.sidebar .sidebar-top .logo img{
    vertical-align: middle;
}

.sidebar-nav img{
    height: 30px;
    vertical-align: middle;
}

.sidebar-nav li{
    margin: 15px 20px;
}

.sidebar-top{
    height: calc(100% - 100px);
    flex-direction: column;
    align-items: center;
}

hr{
    display: none;
}

.sidebar-bottom{
    height: 100px;
    align-items: center;
    flex-direction: column;
}

.sidebar-bottom .install img{
    height: 20px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.profile img{
    width: 30px;
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    
}

.playlist{
    display: none;
}

.content{
    width: calc(100% - 50px);
}

.cta{
    text-align: end;
    background-color: rgba(0,0,0, 0.3);
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 50px;
    width: calc(100% - 50px);
}

.cta span{
    margin-right: 40px;
    border: 1px white solid;
    padding: 8px 40px;
    border-radius: 30px;
}

.text-nav{
    padding-top: 70px;
    text-align: center;
    font-weight: bold;
}

.text-nav ul li{
    padding: 0 13px;
    line-height: 50px;
    display: inline-block;
}

#recently-played h2, #create-for h2, #popular h2{
    padding: 20px;
}

.cover-music{
    width: calc(50% - 30px);
    margin: 5px 10px 10px 20px;
}

.content-cover h4{
    margin: 10px 0px;
}

.cover-music img{
    width: 100%;
}

#create-for span, #popular span{
padding-left: 20px;
padding-bottom: 20px;
display: inline-block;
}

footer{
    height: 100px;
    background-color: #282828;
}

.box{
    background-color: red;
    margin: 0px 20px;
}

.footer-box{
    height: 100%;
}


@media screen and (min-width: 576px){
    .sidebar{
        width: 250px;
    }

    .sidebar span{
        display: inline-block;
    }

    .sidebar-top{
        overflow-y: hidden;
        align-items: start;
    }

    .logo{
        line-height: 70px;
        vertical-align: middle;
        display: inline-block;
    }

    .small-logo{
        display: none;
    }

    .biglogo{
        display: inline-block;
        width: 60%;
        margin-left: 20px;
    }

    .sidebar-nav a{
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
    }

    .sidebar-nav .text-img{
        vertical-align: middle;
    }

    .sidebar-bottom a{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
    
    .sidebar-bottom a span{
        vertical-align: middle;
        font-weight: bold;
        margin-left: 8px;
    }

    .sidebar-bottom{
        display: block;
    }

    .sidebar-bottom .install img {
        margin-bottom: 0px;
    }

    hr{
        border: 1px solid #7d7f84;
        margin: 10px 20px;
        display: block;
    }

    .content{
        width: calc(100% - 250px);
    }

    .cta{
        width: calc(100% - 250px);
        left: 250px;
    }

    .playlist ul{
        overflow-y: scroll;
    }
    
    .playlist ul li{
        margin: 18px 20px;
    }
    
    .playlist{
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .plus{
        display: inline-block;
        background-color: #a3a3a3;
        padding: 0px 13px;
        font-size: 40px;
        vertical-align: middle;
    }
    
    .playlist h4{
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .playlist a{
        vertical-align: middle;
        margin-left: 20px;
        margin-top: 18px;
        color: black;
    }
    
    .playlist a span{
        vertical-align: middle;
        margin-left: 8px;
    }
}

@media screen and (min-width: 768px){
    .cover-music{
        width: calc(100% / 4 - 30px);
    }
    
}

@media screen and (min-width: 992px){
    .cover-music{
        width: calc(100% / 6 - 30px);
    }
    
    
}